/**
 * @file app/globals.css
 * @description Global styles for the application
 * @created 2025-11-13
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #141414;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
